$white: #ffffff;
$darkWhite:rgba(226, 226, 226, 1);
$black: #000000;
$lightBlack: rgba(70, 69, 71, 1);
$pargGray: rgba(102, 102, 102, 1);
$grey:  #464547;
$light-grey: hwb(0 100% 0% / 0.386);
$sky-blue:#46C9E8;